  <h1 align="center">Log in </h1>

  <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path ) do |form| %>
  
    <div class="row">
      <div class="col-xs-12">

        <div class="form-group">
          <div class="control-label col-sm-2">
            <h4><%= form.label :email %></h4>
          </div>
          <div class="col-sm-8">
            <%= form.email_field :email, class:"form-control", placeholder: "Enter your email", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-sm-2">
            <h4><%= form.label :password %></h4>
          </div>
          <div class="col-sm-8">
            <%= form.password_field :password, class:"form-control", autocomplete: "off" %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <%= form.submit "Log in", class:"btn btn-primary btn-lg" %>
          </div>
        </div>
    <% end %>
    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to 'Cancel request and return to Users', users_path %> ]
    </div>
 </div>
</div>