<%= form_with(model: article, :html => {class: "form-horizontal", role: "form"}) do |form| %>
 <%= render 'shared/errors', obj: @article %>

  <div class="row">
    <div class="col-md-12">

    <div class="form-group">
      <div class="control-label col-sm-2">
        <h4><%= form.label :title %></h4>
      </div>
      <div class="col-sm-8">
      <%= form.text_field :title, class:"form-control", placeholder: "Title of Article", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="control-label col-sm-2">
        <h4><%= form.label :description %></h4>
      </div>
      <div class="col-sm-8">
      <%= form.text_area :description, rows:10, class:"form-control", placeholder: "Description of Article", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
         <div class="col-sm-offset-2 col-sm-8">
          <%= form.collection_check_boxes :category_ids , Category.all, :id, :name do |cb| %>
           <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text } %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit class:"btn btn-primary btn-lg"%>
      </div>
    </div>
  <% end %>

    <div class="col-xs-4 col-xs-offset-4">
      [ <%= link_to 'Cancel request and return to articles listing', articles_path %> ]
    </div>
  </div>
</div>
