<p id="notice"><%= notice %></p>

<h1 align="center">Hackathon all Articles</h1>

<div align="center">
  <%= will_paginate @articles  %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= will_paginate @articles %>
</div>
 




