<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @user , size: 150 %>
  </div>
</div>

<h4 align="center"><%= @user.username %>'s articles </h4>

<div class="center">
  <%#= will_paginate @user_articles %>
</div>

<%= render 'articles/article', obj: @user.articles %>


<div class="center">
  <%#= will_paginate @user_article %>
</div> 



<%= link_to 'Edit this user ', edit_user_path(@user), class:"btn btn-xs btn-success" %>
<%= link_to 'Back to the Home', users_path , class:"btn btn-xs btn-primary" %>
