<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="http://danieltinivella.com/">Daniel Tinivella</a> , all right reserved

    </small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", 'http://danieltinivella.com/about/'%>
        </li>
      </ul>
    </nav>
  </footer>
</div>
